:javascript
  jQuery(document).ready(function() { 
    $('#new_meal').submit(function(){
      if (!$.trim($('#meal_name').val())){
        $('#meal_name').popover('show');
        return false;
      }

      if (!$.trim($('#meal_instructions').val())){
        $('#meal_instructions').popover('show');
        return false;
      }

      if($('#meal_duration_hours').val() == '0' && $('#meal_duration_minutes').val() == '0'){
        $('#meal_duration_minutes').popover('show');
        return false;
      }

      var validIngredients = true;
      $('.ingredient').each(function(index) { 
        ingredient = $(this).find('.food_select')
        if (!ingredient.val()){
          ingredient.popover('show');
          validIngredients = false;
          return false;
        }
        quantity = $(this).find('.number_select')
        if (!quantity.val()){
          quantity.popover('show');
          validIngredients = false;
          return false;
        }
        unitOfMeasurement = $(this).find('.unit_of_measurement_select')
        if (!unitOfMeasurement.val()){
          unitOfMeasurement.popover('show');
          validIngredients = false;
          return false;
        }
      });
      return validIngredients;

    });
  })

