= meal_diet_classification.diet.name
= meal_diet_classification.stars_count
= link_to 'Star', stars_path(:meal_diet_classification_id => meal_diet_classification.id), :remote => true, :method => :post

